*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#items{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}
.item{
    width: 100%;    
    border: 1px solid black;
    padding: 0;
}
.item > img{
    width: 100%;    
}
.item > div{
    display: flex;
    justify-content: space-between;
}









/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}